
.heading {
    text-align:center;
}

.form {
    margin-left: 500px;
    margin-right: 500px;
}
.title {
    margin-left:100px;
    margin-right: 100px;
}

.submit {
    margin-left: 200px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
  }
  
  @media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }
  
  .jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
  }
  footer {
    margin-bottom:50px;
    background-color: green;
 }
 footer h3 {
     text-align:center;
     font-size:30px;
 }
 
 footer h6 {
     text-align: center;
     margin-top:100px;
     margin bottom: 50px;
     padding-bottom: 40px;
     color: white;
 }
 footer a {
     display: inline-block;
     float: right;
     color: blue;
     margin-right: 50px;
     padding-top:10px;
     letter-spacing: 5px;
 }
   